.jumbotron {
  background: #3B5998;
  color: white;
  padding-bottom: 40px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .logo img {
  width: 100px;
  height: 100px;
}

.table-marginless > tbody > tr > td > div,
.table-marginless > tbody > tr > th > div,
.table-marginless > tfoot > tr > td > div,
.table-marginless > tfoot > tr > th > div,
.table-marginless > thead > tr > td > div,
.table-marginless > thead > tr > th > div {
  margin: 0px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
