<!DOCTYPE html>
<!-- This is the homepage for the Marvin help pages -->
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="jumbotron text-center">
      <div class="container">
        <div class="logo">
          <img src="/messenger-icon.png">
        </div>
        <h1>Marvin: Facebook Chatbot</h1>
        <p> Email Succesfully Setup </p>
      </div>
    </div>
  </body>
</html>
