<!DOCTYPE html>
<!-- This is the page were users will interact with a todo list interface -->
<html>
  <head>
    <% include ../partials/header.ejs %>
     <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-inverse bg-primary">
      <span class="navbar-brand">
        TODO List
      </span>
    </nav>

    <div class="container">
      <a href="#" class="list-group-item"> Do 242</a>
      <a href="#" class="list-group-item list-group-item-action"> Present 425</a>
      <a href="#" class="list-group-item list-group-item-action"> Complete 438</a>
      <a href="#" class="list-group-item list-group-item-action"> Sleep</a>
      <a href="#" class="list-group-item list-group-item-action"> cs425 hw</a>
      <a href="#" class="list-group-item list-group-item-action"> te461 project</a>

    </div>
    <br/>
    <div class="container">
      <div class="form-group">
        <label for="usr">Add Item TODO:</label>
        <input type="text" class="form-control" id="usr">
        <br/> 
        <button type="button" class="btn btn-primary btn-block">Add</button>
      </div>
    </div>
      <script>

      </script>
    </div>
  </body>
</html>
