<!DOCTYPE html>
<!-- This is the page were users will interact with a todo list interface -->
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>Todo List</h1>
      </div>
    </div>
    <div class="container">
      <a href="#" class="list-group-item"> Do 242</a>
      <a href="#" class="list-group-item list-group-item-action"> Present 425</a>
      <a href="#" class="list-group-item list-group-item-action"> Complete 438</a>
      <a href="#" class="list-group-item list-group-item-action"> Sleep</a>
      <a href="#" class="list-group-item list-group-item-action"> cs425 hw</a>
      <a href="#" class="list-group-item list-group-item-action"> te461 project</a>

    </div>
    <br/>
    <div class="container">
      <a href="#" class="list-group-item list-group-item-action">Add Item TODO</a>
    </div>
      <script>

      </script>
    </div>
  </body>
</html>
